// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

html {
	margin: 5%;
	padding: 10px;
}

// /* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { 
	
// }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { 

// }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {
		
// }

img {
  max-height: 300px;
  max-width: 100%;
  border: 3px solid black;
}


