<h1>These are all the products we have on file</h1>

<% @products.each do |product| %>
<ul>
	<li><%=product.name%></li>
	<li><%=product.price%></li>
	<li><%=product.description%></li>
</ul>
	<img src="<%=product.image%>">
</br>
<% end %>