<h1>These are all the suppliers we have on file</h1>

<div class ="row">
<div class = "col-md-1-offset col-md-3 list-view">
	<div class="thumbnail">
	<% @suppliers.each do |supplier| %>
		<h2><%= supplier.name %></h2>
		<h4><%= supplier.email%></h4>
		<h4><%= supplier.phone%></h4>
	<% end %>
		</div>
	</div>
</div>